
tmp/
log/
wget-log

!.python-version

*.retry
nohup.*


playbooks/resources/*
!playbooks/resources/.gitkeep
!playbooks/resources/bin/
playbooks/resources/bin/*
!playbooks/resources/bin/.gitkeep
!downloads
playbooks/downloads/*
!playbooks/downloads/.gitkeep
